body {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  margin: 0;
  line-height: 1.46;
}

.news {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  background-color: #0d1322;
  padding-top: 28px;
  padding-bottom: 146px;
  box-sizing: border-box;
  margin-bottom: 64px;
  position: relative;

  color: white;
    
  z-index: 0;
}

.header_burger {
  display: flex;
  align-items: center;
  text-align: right;
  position: relative;
}

.header:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.45;
  
  z-index: -1;
}

div#site-logo {
  width: 179px;
}

.blog {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 45px;
  margin: 0;
  color: white;
  text-transform: uppercase;
  max-width: 700px;
}

h1 {
  display: block;
  font-weight: bold;
}

.headline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 114px;
}

.menu_button {
  text-decoration: none;
  color: white;
}

.menu_list {
  display: flex;
  list-style-type: none;
  font-size: 13px;
  text-transform: uppercase;
  padding: 0;
  margin: 0px 0px 0px 35px;
}

li {
  display: list-item;
  unicode-bidi: isolate;
}

.menu_button_list {
  margin-left: 35px;
}

* {
  box-sizing: border-box;
}

#site-logo img {
  height: 41px;
  width: 179px;
  display: block;
}

.blog {
  text-align: center;
  display: block;
  width: 690px;
  margin-left: auto;
  margin-right: auto;
  height  : 100%;
}

.trends_now {
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
  position: relative;
  margin: 0;
  margin-bottom: 24px;
  line-height: 14px;
}

.trends_now::after {
  content: '';
  display: block;
  width: 66px;
  height: 3px;
  opacity: 0.4;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

h2 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.trends {
  position: relative;
}

section.trends {
  display: block;
  unicode-bidi: isolate;
}

.pic_1 {
  background-image: url("../images/trend1.jpg");
}

.pic_2 {
  background-image: url("../images/trend2.jpg");
}

.pic_3 {
  background-image: url("../images/trend3.jpg");
}

.pic_4 {
  background-image: url("../images/trend4.jpg");
}

.trends_item {
  position: relative;
}  

.trends_items {
  display: flex;
}

.items_inside {
  position: relative;
  border: 3px solid rgba(181, 159, 91, 0.6);
  z-index: 1;
  align-self: flex-end;
  padding: 38px 33px 37px 33px;
  width: 100%;
}

.title_button {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b59f5b;
  margin: 0 3px;
}

.inside_list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.inside_text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
}

.trends_color {
  color: #ffffff;
}

.categories_button {
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #b59f5b;
  margin: 0 ;
}

.trends_item {
  display: flex;
  position: relative;
  flex: 0 1 25%;
  margin-right: 4px;
  padding: 15px 20px 15px 20px;
  min-height: 320px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #000000;
  z-index: 0;
}

.trends_item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.45;
  
  z-index: -1;
}


.content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 64px;
  margin-top: 64px;
  align-items: flex-start;
}

.content.articles {
  width: 788px;

  box-sizing: border-box;
}

.last-post_pic {
  width: 381px;
  margin-right: 30px;
}

img.last-post_pic {
  overflow-clip-margin: content-box;
  overflow: clip;
}

.categories_button_list {
  margin-right: 19px;
}

.article_text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.publication_info{
  margin-top: 20px;
  margin-bottom: 30px;
}

.article_text_link {
  text-decoration: none;
  font-size: 20px;
  line-height: 1.25;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: black;
}

h3 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.articles_text_link {
  text-decoration: none;
  color: black;
}

.time {
  margin-right: 14px;
  color: #888888;
  font-size: 12px;
  display: inline-block;
}

.author {
  font-weight: 700;
  font-style: normal;
  font-size: 12px;
  display: inline-block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 64px;
  margin-top: 64px;
  align-items: flex-start;
}

main.articles {
  width: 788px;
  box-sizing: border-box;
}

main {
  display: block;
}

.aside {
  width: 272px;
}

.new_posts {
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  position: relative;
  margin: 0;
  margin-bottom: 24px;
}

div.side_posts {
  box-sizing: border-box;
  display: block;
}

h2 {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.article {
  display: flex;
  align-items: flex-start;
  margin-top: 59px;
}

.article:first-child {
  margin-top: 0px;
}

.article_posts_title {
  color: black;
  text-decoration: none;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.article_posts {
  display: flex;
  align-items: flex-start;
  margin-top: 22px;
}

.article_posts_image {
  width: 70px;
  background-color: white;
  margin-right: 20px;
}

.article_posts_time {
  display: block;
  font-size: 12px;
  line-height: 12px;
  color: #888888;
}

h3 {
  margin-top: 5px;
  line-height: 16px;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 0;
}

.form {
  margin-top: 60px;
  box-sizing: border-box;
  display: flex;
}

.form_search {
  display: flex;
  width: 100%;
}

.input_search {
  box-sizing: border-box;
  border: 0;
  background-color: #f4f7f6;
  font-size: 13px;
  color: #888888;
  font-family: inherit;
  padding: 18px;
  width: 100%;
  height: 48px;
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button_search {
  width: 58px;
  background-color: #b59f5b;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  border: 0;
  cursor: pointer;
}

.button_search:hover {
  background-color: #323232;
}

.subscription {
  margin-top: 60px;
}

.new_posts {
  font-weight: 700;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #0f0d0e;
  position: relative;
  margin: 0;
  margin-bottom: 24px;
}

.new_posts::after {
  content: '';
  opacity: 0.4;
  display: block;
  width: 66px;
  height: 3px;
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
}

.subscription_form {
  display: flex;
  flex-direction: column;
}

.mail_input {
  box-sizing: border-box;
  border: 0;
  background-color: #f4f7f6;
  font-size: 13px;
  color: #888888;
  font-family: inherit;
  padding: 18px;
  width: 100%;
  height: 48px;
  outline: none;
}

.subscribe {
  margin-top: 16px;
}

.subscribe_button {
  background-color: #b59f5b;
  border: 0;
  height: 48px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
}

.subscribe_button:hover {
  background-color: #323232
}

h3.trend-name {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
}

.side_tags {
  margin-top: 60px;
}

.tags_selector {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tags_item {
  margin-right: 6px;
  margin-bottom: 6px;
}

.tags_link {
  display: block;
  padding: 7px 13px;
  border: 3px solid #eeeeee;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #0f0d0e;
  text-decoration: none;
  line-height: 12px;
}

.themes {
  margin-top: 60px;
}

.theme_selector {
  padding: 0;
  margin: 0;
}

.theme_item {
  list-style-type: none;
  margin-top: 20px;
  padding-bottom: 12px;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  align-items: center;
}

.theme_link {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  color: #000000;
  text-decoration: none;
}

.theme_sup {
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #b59f5b;
  text-decoration: none;
  top: 0;
  margin-top: -8px;
  margin-left: 5px;
}

.shop {
  padding-bottom: 64px;
}

.shop_img {
  margin: 0 auto;
  width: 87%;
  display: block;
}

.shop_info {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.shop_items {
  display: flex;
  justify-content: space-between;
}

.shop_item {
  flex: 0 1 29%;
  display: flex;
  flex-direction: column;
}

.shop_text {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  border: 3px solid rgba(181, 159, 91, 0.6);
  padding: 57px 23px 23px 23px;
  flex: 1;
}

.shop_title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.shop_link {
  text-decoration: none;
  color: #b59f5b;
}

.item_price {
    margin-top: 23px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.old_price {
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
  color: #0f0d0e;
  line-height: 1;
}

.new_price {
  font-size: 20px;
  font-weight: 700;
  color: #0f0d0e;
  line-height: 1;
}

.shop_button {
  max-width: 141px;
  background-color: #b59f5b;
  border: 0;
  height: 48px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  cursor: pointer;
  flex-shrink: 0;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 40px;
}

.social {
  padding: 28px;
  background-color: #f4f7f6;
}

.social_media {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.social_link {
  width: 20px;
  height: 20px;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social_item {
  margin-right: 30px;
}

.pinterest {
  background-image: url(../svg/001-pinterest.svg);
  background-size: 20px;
}

.facebook {
  background-image: url(../svg/002-facebook-logo.svg);
  background-size: 20px;
}

.tumblr {
  background-image: url(../svg/003-tumblr.svg);
  background-size: 20px;
}

.hidden-text {
   width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.copyright {
  margin-top: 74px;
  text-align: center;
}

.copyright_text {
  font-weight: 700;
  font-size: 12px;
  color: #999999;
  text-decoration: none;
}